@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS can go below the imports */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* insights section grid */
.insight-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}

.insights {
  padding: 110px 30px;
}

@media (max-width: 767px) {
  .insights {
    padding: 30px 25px;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.in-view {
  opacity: 1;
  transform: translateY(0);
}