@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS can go below the imports */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

/* ========Background Colour====== */
body {
  background-color: black;
}

/* insights section grid */
.insight-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.insights {
  padding: 110px 30px;
}

@media (max-width: 767px) {
  .insights {
    padding: 30px 25px;
  }
}


nav{
  display: none;
}


/* ===Hero section media query=== */
@media (min-width: 640px){
  .hero-text-section{
    position: absolute;
    bottom: 30px;
    left: 5px;
  }
}


